.elementor-30 .elementor-element.elementor-element-526fd05>.elementor-container {
    max-width: 1300px;
}

.elementor-30 .elementor-element.elementor-element-526fd05 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 0px 12px 0px 12px;
}

.elementor-30 .elementor-element.elementor-element-526fd05>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-bc-flex-widget .elementor-30 .elementor-element.elementor-element-936e6ca.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-30 .elementor-element.elementor-element-936e6ca.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-30 .elementor-element.elementor-element-936e6ca.elementor-column>.elementor-widget-wrap {
    justify-content: space-between;
}

.elementor-30 .elementor-element.elementor-element-936e6ca:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-30 .elementor-element.elementor-element-936e6ca>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #062A26;
}

.elementor-30 .elementor-element.elementor-element-936e6ca>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 13px 25px 13px 25px;
}

.elementor-30 .elementor-element.elementor-element-936e6ca>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-30 .elementor-element.elementor-element-1308207 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(30px/2);
}

.elementor-30 .elementor-element.elementor-element-1308207 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(30px/2);
}

.elementor-30 .elementor-element.elementor-element-1308207 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(30px/2);
    margin-left: calc(30px/2);
}

.elementor-30 .elementor-element.elementor-element-1308207 .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-30px/2);
    margin-left: calc(-30px/2);
}

body.rtl .elementor-30 .elementor-element.elementor-element-1308207 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-30px/2);
}

body:not(.rtl) .elementor-30 .elementor-element.elementor-element-1308207 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-30px/2);
}

.elementor-30 .elementor-element.elementor-element-1308207 .elementor-icon-list-icon i {
    color: #4FC65A;
    transition: color 0.3s;
}

.elementor-30 .elementor-element.elementor-element-1308207 .elementor-icon-list-icon svg {
    fill: #4FC65A;
    transition: fill 0.3s;
}

.elementor-30 .elementor-element.elementor-element-1308207 {
    --e-icon-list-icon-size: 14px;
    --e-icon-list-icon-align: left;
    --e-icon-list-icon-margin: 0 calc(var(--e-icon-list-icon-size, 1em) * 0.25) 0 0;
    --icon-vertical-align: center;
    width: auto;
    max-width: auto;
}

.elementor-30 .elementor-element.elementor-element-1308207 .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-30 .elementor-element.elementor-element-1308207 .elementor-icon-list-item>a {
    font-family: "Inter", Sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.elementor-30 .elementor-element.elementor-element-1308207 .elementor-icon-list-text {
    color: #FFFFFF;
    transition: color 0.4s;
}

.elementor-30 .elementor-element.elementor-element-1308207 .elementor-icon-list-item:hover .elementor-icon-list-text {
    color: #4FC65A;
}

.elementor-30 .elementor-element.elementor-element-11c9b26 {
    --grid-template-columns: repeat(0, auto);
    --icon-size: 16px;
    --grid-column-gap: 20px;
    --grid-row-gap: 0px;
    width: auto;
    max-width: auto;
}

.elementor-30 .elementor-element.elementor-element-11c9b26 .elementor-widget-container {
    text-align: center;
}

.elementor-30 .elementor-element.elementor-element-11c9b26 .elementor-social-icon {
    background-color: #02010100;
    --icon-padding: 0px;
}

.elementor-30 .elementor-element.elementor-element-11c9b26 .elementor-social-icon i {
    color: #FFFFFF;
}

.elementor-30 .elementor-element.elementor-element-11c9b26 .elementor-social-icon svg {
    fill: #FFFFFF;
    
}

.elementor-30 .elementor-element.elementor-element-11c9b26 .elementor-social-icon:hover i {
    color: #4FC65A;
}

.elementor-30 .elementor-element.elementor-element-11c9b26 .elementor-social-icon:hover svg {
    fill: #4FC65A;
}

.elementor-30 .elementor-element.elementor-element-0f8538e>.elementor-container {
    max-width: 1300px;
}

.elementor-30 .elementor-element.elementor-element-0f8538e {
    padding: 0px 12px 0px 12px;
}

.elementor-30 .elementor-element.elementor-element-2eb72d8:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-30 .elementor-element.elementor-element-2eb72d8>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-30 .elementor-element.elementor-element-2eb72d8>.elementor-element-populated {
    box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.04);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 15px 15px 15px 15px;
}

.elementor-30 .elementor-element.elementor-element-2eb72d8>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-bc-flex-widget .elementor-30 .elementor-element.elementor-element-6eb5adc.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-30 .elementor-element.elementor-element-6eb5adc.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-30 .elementor-element.elementor-element-6284d86 img {
    max-width: 135px;
}

.elementor-bc-flex-widget .elementor-30 .elementor-element.elementor-element-0cd7666.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-30 .elementor-element.elementor-element-0cd7666.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-30 .elementor-element.elementor-element-0cd7666>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-30 .elementor-element.elementor-element-00628df .header_nav-menu ul {
    text-align: center;
}

.elementor-30 .elementor-element.elementor-element-00628df .header_nav-menu ul li a {
    font-family: "Inter", Sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 26px;
    color: #062A26;
}

.elementor-30 .elementor-element.elementor-element-00628df .header_nav-menu ul li.menu-item-has-children>a::before {
    color: #062A26;
}

.elementor-30 .elementor-element.elementor-element-00628df .header_nav-menu ul li:hover>a {
    color: #4FC65A;
}

.elementor-30 .elementor-element.elementor-element-00628df .header_nav-menu ul li.menu-item-has-children:hover>a::before {
    color: #4FC65A;
}

.elementor-30 .elementor-element.elementor-element-00628df .header_nav-menu ul li.menu-item-has-children:hover>a::after {
    background: #4FC65A;
}

.elementor-30 .elementor-element.elementor-element-00628df .header_nav-menu ul>li {
    margin-right: 20px;
    margin-left: 20px;
}

.elementor-30 .elementor-element.elementor-element-00628df .header_nav-menu ul li .sub-menu li>a {
    font-weight: 500;
}

.elementor-30 .elementor-element.elementor-element-00628df .header_nav-menu ul li .sub-menu {
    box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.08);
    border-style: solid;
    border-width: 3px 0px 0px 0px;
    border-color: #4FC65A;
}

.elementor-30 .elementor-element.elementor-element-00628df .header_nav-menu ul li .sub-menu li:hover>a {
    color: #4FC65A;
}

.elementor-30 .elementor-element.elementor-element-00628df .header_nav-menu ul li .sub-menu li.menu-item-has-children:hover>a::before {
    color: #4FC65A;
}

.elementor-30 .elementor-element.elementor-element-00628df .header_nav-menu ul li .sub-menu li>a::after {
    background: #4FC65A;
}

.elementor-30 .elementor-element.elementor-element-00628df .header_nav-menu ul li>.sub-menu {
    top: 57px;
}

.elementor-30 .elementor-element.elementor-element-00628df .header_nav-menu ul li>.sub-menu li>.sub-menu {
    top: -3px;
}

.elementor-30 .elementor-element.elementor-element-00628df .nav_menu_bar {
    text-align: right;
}

.elementor-30 .elementor-element.elementor-element-00628df .header_nav-menu-responsive .nav_menu_bar-popup {
    background: #062A26;
}

.elementor-30 .elementor-element.elementor-element-00628df .header_nav-menu-responsive .nav_menu_bar-popup-close i {
    color: #062A26;
    background: #4FC65A;
}

.elementor-30 .elementor-element.elementor-element-00628df .header_nav-menu-responsive .nav_menu_bar-popup ul li a {
    color: #FFFFFFCC;
    border-color: #23423F;
}

.elementor-30 .elementor-element.elementor-element-00628df .header_nav-menu-responsive .nav_menu_bar-popup ul li:hover>a {
    color: #4FC65A;
}

.elementor-30 .elementor-element.elementor-element-00628df .vertical-menu ul li.menu-item-has-children>span {
    color: #062A26;
    background: #4FC65A;
}

.elementor-bc-flex-widget .elementor-30 .elementor-element.elementor-element-3a411ce.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-30 .elementor-element.elementor-element-3a411ce.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-30 .elementor-element.elementor-element-3a411ce.elementor-column>.elementor-widget-wrap {
    justify-content: flex-end;
}

.elementor-30 .elementor-element.elementor-element-3a411ce>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-30 .elementor-element.elementor-element-fb1f885 .flexitype-search {
    text-align: center;
}

.elementor-30 .elementor-element.elementor-element-fb1f885 .flexitype-search-icon i {
    color: #062A26;
    font-size: 18px;
}

.elementor-30 .elementor-element.elementor-element-fb1f885 .flexitype-search-box {
    background: #062A26;
}

.elementor-30 .elementor-element.elementor-element-fb1f885 {
    width: auto;
    max-width: auto;
}

.elementor-30 .elementor-element.elementor-element-631c929 .flexitype-offcanvas-popup-icon {
    text-align: center;
}

.elementor-30 .elementor-element.elementor-element-631c929 .flexitype-offcanvas-popup-icon i {
    color: #062A26;
    font-size: 25px;
}

.elementor-30 .elementor-element.elementor-element-631c929 .flexitype-offcanvas-popup {
    background: #062A26;
}

.elementor-30 .elementor-element.elementor-element-631c929 .offcanvas-overlay {
    background: #062A2687;
}

.elementor-30 .elementor-element.elementor-element-631c929 .flexitype-offcanvas-popup .sidebar-close-btn {
    color: #FFFFFF;
    background: #4FC65A;
}

.elementor-30 .elementor-element.elementor-element-631c929>.elementor-widget-container {
    margin: 0px 0px 0px 25px;
    padding: 0px 0px 0px 20px;
    border-style: solid;
    border-width: 0px 0px 0px 1px;
    border-color: #E4E4E4;
}

.elementor-30 .elementor-element.elementor-element-631c929 {
    width: auto;
    max-width: auto;
}

.elementor-30 .elementor-element.elementor-element-c3978e4 .flexitype-btn {
    text-align: center;
}

.elementor-30 .elementor-element.elementor-element-c3978e4 .flexitype-btn-wrapper {
    font-family: "Inter", Sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #FFFFFF;
    background: #4FC65A;
    padding: 17px 30px 17px 30px;
}

.elementor-30 .elementor-element.elementor-element-c3978e4 .flexitype-btn-wrapper.button-winona>span {
    padding: 17px 30px 17px 30px;
}

.elementor-30 .elementor-element.elementor-element-c3978e4 .flexitype-btn-wrapper.button-winona::after {
    padding: 17px 30px 17px 30px;
}

.elementor-30 .elementor-element.elementor-element-c3978e4 .flexitype-btn-wrapper.button-tamaya::before {
    padding: 17px 0 0 0;
}

.elementor-30 .elementor-element.elementor-element-c3978e4 .flexitype-btn-wrapper.button-rayen>span {
    padding: 17px 30px 17px 30px;
}

.elementor-30 .elementor-element.elementor-element-c3978e4 .flexitype-btn-wrapper.button-rayen::before {
    padding: 17px 30px 17px 30px;
    background: #062A26;
}

.elementor-30 .elementor-element.elementor-element-c3978e4 .flexitype-btn-wrapper.button-ripple::before {
    background: #062A26;
}

.elementor-30 .elementor-element.elementor-element-c3978e4 .flexitype-btn-wrapper.button-ripple::after {
    background: #062A26;
}

.elementor-30 .elementor-element.elementor-element-c3978e4 .flexitype-btn-wrapper.center-ripple::after {
    background: #062A26;
}

.elementor-30 .elementor-element.elementor-element-c3978e4 .flexitype-btn-wrapper.slide-effect::after {
    background: #062A26;
}

.elementor-30 .elementor-element.elementor-element-c3978e4 .flexitype-btn-wrapper.button-winona:hover {
    background: #062A26;
}

.elementor-30 .elementor-element.elementor-element-c3978e4 .flexitype-btn-wrapper.button-ujarak::before {
    background: #062A26;
}

.elementor-30 .elementor-element.elementor-element-c3978e4 .flexitype-btn-wrapper.button-tamaya:hover {
    background: #062A26;
}

.elementor-30 .elementor-element.elementor-element-c3978e4 .flexitype-btn-wrapper.button-wayra::before {
    background: #062A26;
}

.elementor-30 .elementor-element.elementor-element-c3978e4 .flexitype-btn-wrapper.button-pipaluk:hover::after {
    background: #062A26;
}

.elementor-30 .elementor-element.elementor-element-c3978e4 .flexitype-btn-wrapper.button-pipaluk::before {
    border-color: #062A26;
}

.elementor-30 .elementor-element.elementor-element-c3978e4 .flexitype-btn-wrapper.button-moema:hover {
    background: #062A26;
}

.elementor-30 .elementor-element.elementor-element-c3978e4 .flexitype-btn-wrapper.button-isi::before {
    background: #062A26;
}

.elementor-30 .elementor-element.elementor-element-c3978e4 .flexitype-btn-wrapper.button-aylen::after {
    background: #062A26;
}

.elementor-30 .elementor-element.elementor-element-c3978e4 .flexitype-btn-wrapper.button-wapasha::before {
    border-color: #062A26;
}

.elementor-30 .elementor-element.elementor-element-c3978e4 .flexitype-btn-wrapper.button-antiman::before {
    border-color: #062A26;
}

.elementor-30 .elementor-element.elementor-element-c3978e4 .flexitype-btn-wrapper:hover i {
    transform: rotate(90deg);
}

.elementor-30 .elementor-element.elementor-element-c3978e4>.elementor-widget-container {
    margin: 0px 0px 0px 30px;
}

.elementor-30 .elementor-element.elementor-element-c3978e4 {
    width: auto;
    max-width: auto;
}

@media(max-width:1024px) {
    .elementor-30 .elementor-element.elementor-element-2eb72d8>.elementor-element-populated {
        padding: 20px 12px 20px 12px;
    }

    .elementor-30 .elementor-element.elementor-element-6eb5adc>.elementor-element-populated {
        padding: 0px 0px 0px 0px;
    }

    .elementor-30 .elementor-element.elementor-element-0cd7666.elementor-column>.elementor-widget-wrap {
        justify-content: flex-end;
    }

    .elementor-30 .elementor-element.elementor-element-00628df .header_nav-menu-responsive .nav_menu_bar>i {
        font-size: 34px;
    }

    .elementor-30 .elementor-element.elementor-element-00628df {
        width: auto;
        max-width: auto;
    }
}

@media(max-width:767px) {
    .elementor-30 .elementor-element.elementor-element-936e6ca.elementor-column>.elementor-widget-wrap {
        justify-content: center;
    }

    .elementor-30 .elementor-element.elementor-element-1308207 {
        --e-icon-list-icon-align: center;
        --e-icon-list-icon-margin: 0 calc(var(--e-icon-list-icon-size, 1em) * 0.125);
    }

    .elementor-30 .elementor-element.elementor-element-11c9b26>.elementor-widget-container {
        margin: 10px 0px 0px 0px;
    }

    .elementor-30 .elementor-element.elementor-element-6eb5adc {
        width: 50%;
    }

    .elementor-30 .elementor-element.elementor-element-6284d86 img {
        max-width: 130px;
    }

    .elementor-30 .elementor-element.elementor-element-0cd7666 {
        width: 50%;
    }
}

@media(min-width:768px) {
    .elementor-30 .elementor-element.elementor-element-6eb5adc {
        width: 14%;
    }

    .elementor-30 .elementor-element.elementor-element-0cd7666 {
        width: 60.158%;
    }

    .elementor-30 .elementor-element.elementor-element-3a411ce {
        width: 25%;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-30 .elementor-element.elementor-element-6eb5adc {
        width: 50%;
    }

    .elementor-30 .elementor-element.elementor-element-0cd7666 {
        width: 50%;
    }

    .elementor-30 .elementor-element.elementor-element-3a411ce {
        width: 50%;
    }
}